body {background-color: #EFF0F3!important}

a {
  text-decoration: none;
}

table {
  width: 30%;
}

.table thead th{
	vertical-align: middle;; 
	text-align: center;

}
/*
.tab-pane {
  display: none;
}
.tab-pane:target {
  display: block;
}
*/